<!DOCTYPE html>
<html>

<head>
  <style>
    table {
      border-collapse: collapse;
      background-color: white;
    }

    table,
    th {
      border: 0px solid black;
    }

    table.border {
      border: 1px solid rgb(40, 119, 150);
    }

    td.border {
      border: 1px solid rgb(40, 119, 150);
    }

    body {
      font-family: "Open Sans";
      font-size: 10pt;
      color: rgb(40, 119, 150);
      text-align: justify;
    }

    h1 {
      font-family: "Arial-Black";
      font-size: 16pt;
      color: black;
      text-align: left;
      font-weight: 700/800/900;
      margin-bottom: 0em
    }

    h2 {
      font-family: "Montserrat";
      font-size: 14pt;
      color: black;
      text-align: left;
      font-weight: 700/800/900;
      margin-bottom: -0.5em
    }

    h3 {
      font-family: "Montserrat";
      font-size: 12pt;
      color: black;
      text-align: left;
      font-weight: 700/800/900;
      margin-bottom: -0.2em
    }

    h4 {
      font-family: "Montserrat";
      font-size: 10.5pt;
      color: black;
      text-align: left;
      font-weight: 700/800/900;
      margin-bottom: -0.2em
    }

    p {
      color: black;
    }
  </style>
</head>

<body>
  <h1>A Life Lived Password Reset Request</h1>
  <p>
    Here is your A Life Live password reset email. Please click on <a href="<%=resetLink%>">this link</a> to reset your
    password.
  </p>

  <p>
    If you didn't request a password reset please contact support feedback@alifelived.atlassian.net
  </p>
</body>

</html>